### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
参考/logo.png
参考/main/java/com/sighs/baeffect/Baeffect.java
参考/main/java/com/sighs/baeffect/BAEffectCursorController.java
参考/main/java/com/sighs/baeffect/BAEffectCursorDispatcher.java
参考/main/java/com/sighs/baeffect/BASparkOverlay.java
参考/main/resources/assets/apricityui/apricity/baeffect/alternativeselect.cur
参考/main/resources/assets/apricityui/apricity/baeffect/areaselect.cur
参考/main/resources/assets/apricityui/apricity/baeffect/background.ani
参考/main/resources/assets/apricityui/apricity/baeffect/block.cur
参考/main/resources/assets/apricityui/apricity/baeffect/cursor-overlay.html
参考/main/resources/assets/apricityui/apricity/baeffect/help.cur
参考/main/resources/assets/apricityui/apricity/baeffect/link.cur
参考/main/resources/assets/apricityui/apricity/baeffect/loading.ani
参考/main/resources/assets/apricityui/apricity/baeffect/move.cur
参考/main/resources/assets/apricityui/apricity/baeffect/normal.cur
参考/main/resources/assets/apricityui/apricity/baeffect/pen.cur
参考/main/resources/assets/apricityui/apricity/baeffect/resizeDIAG1.cur
参考/main/resources/assets/apricityui/apricity/baeffect/resizeDIAG2.cur
参考/main/resources/assets/apricityui/apricity/baeffect/resizeNS.cur
参考/main/resources/assets/apricityui/apricity/baeffect/resizeWE.cur
参考/main/resources/assets/apricityui/apricity/baeffect/text.ani
参考/main/resources/assets/apricityui/apricity/baeffect/text_static_blue.cur
参考/main/resources/assets/apricityui/apricity/baeffect/text_static_white.cur
参考/main/resources/baeffect.mixins.json
参考/main/resources/META-INF/mods.toml
参考/main/resources/pack.mcmeta
